@use "../../styles/variables.scss" as vars;

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: vars.$background;

  .messages-container {
    flex: 1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }

  // ChatGPT-style chat interface
  .chat-container {
    display: flex;
    flex-direction: column;
    background-color: vars.$text-white;
    padding: vars.$spacing-md;
    border-top: 1px solid #eee;

    .chat-input-container {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;

      .chat-input {
        border: 1px solid vars.$primary;
        border-radius: 20rpx;
        padding: vars.$spacing-sm vars.$spacing-lg;
        height: 80rpx;
        width: 100%;
        color: vars.$text-color;
      }

      .send-button {
        position: absolute;
        right: vars.$spacing-sm;
        width: 70rpx;
        height: 70rpx;
        border-radius: 35rpx;
        background-color: vars.$primary;
        display: flex;
        justify-content: center;
        align-items: center;

        .send-icon {
          color: vars.$text-white;
        }
      }
    }
  }
}
