@use "../styles/variables.scss" as vars;

.activity-chart {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .chart-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vars.$spacing-md;
    border-bottom: 1px solid vars.$base-200;

    .chart-title {
      display: flex;
      align-items: center;
      gap: vars.$spacing-md;
      font-weight: bold;
      font-size: vars.$font-size-md;
    }
  }

  .contribution-grid {
    margin: 15px 0;
  }

  .month-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .month-container {
    width: 32%;

    .month-name {
      font-size: vars.$font-size-sm;
      color: vars.$base-content;
      margin-bottom: 10px;
      display: block;
    }
  }

  .days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5px;

    .day-label {
      font-size: vars.$font-size-xs;
      color: vars.$neutral;
      text-align: center;
    }
  }

  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    margin-bottom: 2px;
  }

  .day-cell {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    position: relative;
    justify-self: center;

    &:hover .tooltip {
      display: flex;
    }

    &.empty {
      background-color: transparent;
      visibility: hidden;
    }

    &.level-0 {
      background-color: #ebedf0;
    }

    &.level-1 {
      background-color: #9be9a8;
    }

    &.level-2 {
      background-color: #40c463;
    }

    &.level-3 {
      background-color: #30a14e;
    }

    &.level-4 {
      background-color: #216e39;
    }

    .tooltip {
      display: none;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #24292e;
      color: white;
      font-size: 10px;
      padding: 5px 8px;
      border-radius: 4px;
      z-index: 10;
      width: max-content;
      max-width: 180px;
      align-items: center;
      justify-content: center;

      &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        margin-left: -4px;
        border-width: 4px 4px 0;
        border-style: solid;
        border-color: #24292e transparent transparent;
      }

      .tooltip-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 10px;
      }
    }
  }

  .legend {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;

    .legend-text {
      color: #666;
      margin-bottom: 8px;
    }

    .legend-items {
      display: flex;
      flex-wrap: wrap;

      .legend-item {
        display: flex;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 5px;

        .color-box {
          width: 12px;
          height: 12px;
          margin-right: 5px;
          border-radius: 3px;

          &.level-0 {
            background-color: #ebedf0;
            border: 1px solid #ddd;
          }

          &.level-1 {
            background-color: #9be9a8;
          }

          &.level-2 {
            background-color: #40c463;
          }

          &.level-3 {
            background-color: #30a14e;
          }

          &.level-4 {
            background-color: #216e39;
          }
        }

        Text {
          color: vars.$base-content;
          font-size: vars.$font-size-sm;
        }
      }
    }
  }
}
