@use "../styles/variables.scss" as vars;

.chat-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-md;
  width: 100%;
  max-width: 100%;

  .quick-questions {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-sm;
    width: 100%;

    .quick-question {
      width: 100%;
      border: 1px solid vars.$border-light;
      border-radius: vars.$radius-xl;
      box-sizing: border-box;
      padding: vars.$spacing-md;
      transition: vars.$transition-fast;
      background-color: vars.$base-200;
      &:hover,
      &:active {
        background-color: vars.$base-300;
      }

      .question-text {
        color: vars.$base-content;
        font-size: vars.$font-size-sm;
      }
    }
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: vars.$base-100;
    box-sizing: border-box;

    .chat-input {
      border: 1px solid vars.$primary;
      border-radius: vars.$radius-xl;
      padding: 0 vars.$spacing-lg;
      padding-right: 70px; /* Make room for the send button */
      height: 80px;
      width: 100%;
      color: vars.$base-content;
      background-color: vars.$base-200;
      box-sizing: border-box;

      &:focus {
        border-color: vars.$primary;
        background-color: vars.$base-100;
      }
    }

    .send-button {
      position: absolute;
      right: vars.$spacing-sm;
      width: 60px;
      height: 60px;
      border-radius: vars.$radius-full;
      background-color: vars.$primary;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: vars.$transition-fast;
      z-index: 1;

      .send-icon {
        color: vars.$primary-content;
      }

      &.disabled {
        background-color: vars.$primary-subtle;
        opacity: 0.7;
      }
    }
  }
}
